<div class= "container text-center">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam accusamus ratione voluptate totam ea voluptas doloribus amet omnis fugit! Architecto dicta beatae sit neque velit. Qui, beatae nobis voluptatum mollitia.<p/>
</div>